form {
    margin-top: -5%;
    line-height: 1.8rem;
}

.formos {
    width: 7rem;
    font-weight:bolder;
}
button {
    color:rgb(255, 255, 255);
    border-radius: 30px;
    height: 2rem;
    width: 7rem;
    background-color: #ec1d61;
    border-color: #ec1d61;
    font-weight: bold;
}
