.mouse {
    font-size: 20px;
    width:1.2em;
    height:1.9em;
    border: 0.15em solid #fff;
    border-radius: 0.6em;
    align-self:center;
}
.mouse::before {
    content: '';
    font-size: inherit;
    display: block;
    width: 0.15em;
    height: 0.4em;
    margin-left: 0.385em;
    background-color: #fff;
    margin-top: 0.3em;
}